<style>
  .layout {
    border: 1px solid black;
    border-style: dashed;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
  }
</style>

<!-- Toolbar -->
<div class="toolbar layout" role="banner" id="starter-nav">
  <div class="layout" id="search-bar">
    <div class="nav-brand">{{pageTitle}}</div>
    <div class="nav-pill" [routerLink]="['/welcome']">Home</div>
    <div class="nav-pill" [routerLink]="['/products']">Product List</div>
  </div>
</div>

<div class="content layout" role="main" id="starter-main">
  <router-outlet></router-outlet>
</div>