<div id="component-wrapper">
    
    <label id="search-term" for="">Filter Term: {{filterTerm}}</label>

    <div id="person-grid-wrapper" class="show-margins">

        <div class="layout" id="search-bar">
            <input type="text" name="" id="search" placeholder='Filet by...'>
            <button>Show Image</button>
        </div>

        <div class="layout" id="table-wrapper">
            <table>
                <thead>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Stock</th>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

    </div>

</div>