<div>
    
    <label id="search-term" for="">Filter Term: </label>

    <div id="person-grid-wrapper" class="show-margins">

        <div class="layout" id="search-bar">
            <input type="text" name="" id="search" placeholder="Filter by . . .">
            <button>Show Image</button>
        </div>

        <div class="layout" id="table-wrapper">
            <table>
                <thead>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Stock</th>
                </thead>
                <tbody>
                    <tr classtype="Auto">
                        <td></td>
                        <td>Ford</td>
                        <td>15647895</td>
                        <td>2</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>