<div class="card" *ngIf="product">
    <div class="card-header">
        {{pageTitle + ": " + product.productName}}
    </div>
    <div class="card-body">
        <div>Name: {{product.productName}}</div>
        <div>Code: {{product.productCode}}</div>
        <div>Stock: {{product.stock}}</div>
        <div>Price: {{product.price}}</div>
        <div>Rating: {{product.rating}}</div>
    </div>
    <div class="card-bottom">
        <button (click)='onBack()'><i class="fas fa-arrow-left"></i><p>Back</p></button>
    </div>
</div>