<div id="component-wrapper">

    <label id="search-term" for="">Filter Term: {{filterTerm}}</label>

    <div id="person-grid-wrapper" class="show-margins">

        <div class="layout" id="search-bar">
            <input type="text"
            [(ngModel)]='filterTerm' name="" id="search" placeholder='Filter by. . .'>

            <button (click)='toggleImage()'>
                {{showImage ? 'Hide' : 'Show'}} Image
            </button>

        </div>

        <div class="layout" id="table-wrapper">

            <table *ngIf='products && products.length'>

                <thead>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Price</th>
                    <th>Stock</th>
                    <th>Rating</th>
                </thead>

                <tbody>
                    <tr *ngFor='let product of filteredProducts'>
                        <td><img *ngIf='showImage'
                            [src]='product.imageUrl' [title]='product.name'
                            [style.width.px]='imageWidth' [style.margin.px]='imageMargin'>
                        </td>
                        <td>{{ product.productName }}</td>
                        <td>{{ product.productCode | lowercase | convertToSpaces: '-' }}</td>
                        <td>{{ product.price | currency: 'USD' : 'symbol' : '1.2-2' }}</td>
                        <td>{{ product.stock }}</td>
                        <td><app-star [rating]='product.rating' (notify)='onNotify($event)'></app-star></td>
                    </tr>
                </tbody>

            </table>

        </div>

    </div>
</div>